{% extends 'base.html' %}
{% load static %}

{% block title %}
Room update
{% endblock title %}


{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/room_update.css' %}">

</head>
<body>
	<div class="form-wrapper">
		{% if update %}
			<p class="success">Room successfully updated!!</p>
		{% endif %}
		<a href="{% url 'room_info' slug=room.slug %}">
				<p class="title">{{ room.name }}</p>
		</a>
		<form method="post" enctype="multipart/form-data">{% csrf_token %}
			<div class="element-wrapper name-wrapper">
				<p>Title</p>
				<p class="required">(required)</p>
				{{ form.name }}
			</div>
			<div class="element-wrapper text-wrapper">
				<p>Room Dscription</p>
				<p class="required">(required)</p>
				{{ form.text }}
			</div>
			<div class="element-wrapper schedule-wrapper">
				<p>Open time</p>
				<p class="required">(required)</p>
				{{ form.open_time }}
				<!-- <div class="space20"></div>
				<p>Close time</p>
				{{ form.close_time }} -->
			</div>
			<div class="element-wrapper member-wrapper">
				<p>Max number of members</p>
				{{ form.max_num }}
			</div>
			<div class="element-wrapper checkbox-wrapper">
				{{ form.no_apply }}
				No need to apply?
			</div>
			<div class="element-wrapper checkbox-wrapper">
				{{ form.reveal_owner }}
				Reveal your name as the owner?
			</div>
			<h5>People you want to invite</h5>
			<div class="element-wrapper invited-wrapper">
				{% for x in form.invited %}
					{{ x }}
				{% endfor %}
			</div>
			<div>
			</div>
			<div class="element-wrapper image-wrapper">
				<p>Room image</p>
				<div class="room-image-wrapper">
					<img class="room-image" src="{{ room.image.url }}" alt="no image"/>
				</div>
				{{ form.image }}
			</div>

			<div class="btn-wrapper">
				<button class="btn" type="submit">Update</button>
			</div>

			<div class="clr"></div>
		</form>
	</div>

<div class="space"></div>

<div>
	<h3><a href="{% url 'home' %}">
		Bakc to home</a></h3>
</div>

</body>

{% endblock content %}